# Variables de entorno para diferentes entornos

# Entorno actual (development, test, production)
NODE_ENV=development

# Configuración de base de datos - Desarrollo
DB_HOST_DEV=localhost
DB_PORT_DEV=5432
DB_NAME_DEV=proser_staging
DB_USER_DEV=postgres
DB_PASSWORD_DEV=root

# Configuración de base de datos - Pruebas
DB_HOST_TEST=localhost
DB_PORT_TEST=5432
DB_NAME_TEST=inveservicefgl_test
DB_USER_TEST=postgres
DB_PASSWORD_TEST=2024

# Configuración de base de datos - Producción
DB_HOST_PROD=systemcode.ec
DB_PORT_PROD=5432
DB_NAME_PROD=inveservicefgl
DB_USER_PROD=user_inveservice
DB_PASSWORD_PROD=v@3Whv858

# Puerto del servidor
PORT=3000 